.custom-input {
    border: 1px solid #06b6d4;
    padding: 0.5rem;
    font-size: 20px;
    margin-right: 0.5rem;
    margin-bottom: 1.25rem;
    border-radius: 0.5rem;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.custom-input:focus {
    outline: none;
    border-color: transparent;
    box-shadow: 0 0 0 2px #06b6d4;
}

.home-nav,
.create-nav,
.list-nav,
.home-active-nav,
.create-active-nav,
.list-active-nav {
    height: 40px;
    width: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.home-nav {
    background-image: url(/public/image/home.png);
}

.home-active-nav {
    background-image: url(/public/image/home-active.png);
}

.create-nav {
    background-image: url(/public/image/square-plus.png);
}

.create-active-nav {
    background-image: url(/public/image/square-plus-active.png);
}

.list-nav {
    background-image: url(/public/image/rectangle-list.png);
}

.list-active-nav {
    background-image: url(/public/image/rectangle-list-active.png);
}